
# Parser Port (default: 8001)
# PORT=8001

# Parser Database (Usually localized to the parser service)
PARSER_DATABASE_URL=duckdb:///data/ingestion_engine_parser.duckdb



# Demo Mode
DEMO_MODE=false
